[submodule "websites/fora-temer"]
	path = websites/fora-temer
	url = https://github.com/gianordoli/fora-temer.git
[submodule "websites/lang_catalog_prototype"]
	path = websites/lang_catalog_prototype
	url = https://github.com/gianordoli/lang_catalog_prototype.git
