:root {
	--color-text: #333;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Source Serif Pro', serif;
	background-color: #F5EEE8;
	color: var(--color-text);
}

.main {
	width: 100%;
	height: 100%;
	margin-top: 10vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-wrapper {
	width: 80vw;
	font-size: 7.5vw;
	max-width: 15.4em;
}

p {
	margin: 0 auto 0.5em;
}

strong {
	font-weight: 700;
}

a {
	text-underline-offset: 0.1em;
	text-decoration-thickness: 0.07em;
}

a:link,
a:visited,
a:hover,
a:active {
	color: var(--color-text);
}

nav {
	font-size: 0.6em;
	/* font-weight: 600; */
	text-decoration-thickness: 0.5em;
}

nav a:not(:last-child) {
	margin-right: 0.75em;
}

@media (min-width: 740px) {

	.main {
		min-height: 100vh;
		margin-top: 0;	
	}

	.main-wrapper {
		font-size: 55px;
	}
}