/*---------- GLOBAL ----------*/
* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */;
}

@font-face {
	font-family: overpass-regular;
	src: url('/assets/fonts/overpass_regular.ttf');
}

@font-face {
	font-family: overpass-bold;
	src: url('/assets/fonts/overpass_bold.ttf');
}

/* www.aestheticallyloyal.com/public/optimize-legibility/ */ 
h1,h2,h3,h4,h5,h6 {
	text-rendering: optimizeLegibility;
	/*font-weight: normal;*/
}

/* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
body, select, input, textarea {	color: #333 }

/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased; }

a:link, a:visited, a:active, a:hover{ outline: 0; }

/*---------- COMMON ----------*/

body{
	font-family: overpass-regular;
}

footer{
	width: 1050px;
	position: static;
 	font-size: 13px;
 	line-height: 10px;
 	margin-left: calc((100% - 1225px)/2 + 175px);
 	margin-bottom: 20px;
 	padding: 10px ;
}

footer hr{
 	border: none;
 	height: 3px;
 	background-color: #333; 	
}

footer p{
	float: left;
	display: inline-block;
	margin: 5px 5px 5px 0;
}

footer aside{
	float: right;
	display: inline-block;
	margin: 5px 0;
}

#sidebar{
	position: fixed;
	left: calc((100% - 1225px)/2);
	/*top: 20px;*/
	padding: 20px 10px;
	width: 175px;
	height: 100%;
	text-align: left;
	/*overflow: hidden;*/
}

#sidebar a:link,
#sidebar a:visited{ color: #333; text-decoration: none }
#sidebar a:active,
#sidebar a:hover{ color: #fb81ac; text-decoration: none }

#sidebar a:link.selected,
#sidebar a:visited.selected,
#sidebar a:active.selected,
#sidebar a:hover.selected{ color: #fb81ac; }

#sidebar h1 {
	text-transform: uppercase;
	font-size: 16px;
	font-family: overpass-bold;
	line-height: 18px;
	letter-spacing: 1px;
	margin-top: 0;
}

#sidebar #logo h1 a{
	text-decoration: none;
}

#sidebar h2 {
	font-size: 13px;
	border-bottom: 3px solid #333;
	border-top: 3px solid #333;
	padding: 5px 0;
	margin: 5px 0;
	text-transform: uppercase;
	font-family: overpass-bold;
	letter-spacing: 1px
}
#sidebar ul{
	list-style-type: none;	
	font-size: 13px;
	line-height: 18px;
	margin: 0;
	padding: 0;
	margin-left: 10px;
	text-indent: -10px;
}

#container{
	position: relative;
	left: calc((100% - 1225px)/2 + 175px);
	top: 10px;
	width: 1050px;
	padding-bottom: 10px;
}

/*---------- TYPOGRAPHY ----------*/
#container h1,
#container h2 {
	text-transform: uppercase;
	font-family: overpass-bold;
	letter-spacing: 1px;
}

#container .project-container h1 { font-size: 16px; line-height: 1; margin-bottom: 5px; }
#container .project-container h2 {	font-size: 13px; margin: 0; }
/*#container h3 { font-size: 15px; line-height: 20px; padding-bottom: 5px; }
#container h4 { font-size: 11px; line-height: 18px;  }
#container h5 { font-size: 10px; }
#container h6 { font-size: 9px; line-height: 14px; }*/
#container .project-container p  { font-size: 13px; line-height: 18px; margin: 0 0 10px 0; }
#container .project-container ul { font-size: 11px; line-height: 15px; }
/*#container hr { border-width: 0; height: 1px; background-color: #333 }*/

#container a:link,
#container a:visited,
#container a:active,
#container a:hover{ color: #333; }

/*---------- INDEX ----------*/
#container .item {
  width: calc((100% - 60px)/3);	
  max-width: 360px;
  margin: 10px;
  float: left;
}

#container .item img{
	width: 100%;
	border: 8px solid white;
}

#container .item img.selected{
	border-color: #fb81ac;
}

/*-------- PROJECTS ---------*/
#container .project-container{
	/*width: 665px;*/
	width: 100%;
	/*max-width: 940px;*/
/*	margin-left: auto;
    margin-right: auto;*/
    padding: 10px 10px 0 10px;
}

#container .project-container p,
#container .project-container h1,
#container .project-container h2,
#container .project-container h3,
#container .project-container h4,
#container .project-container h5,
#container .project-container h6,
#container .project-container ul,
#container .project-container hr{
	max-width: 515px;
	margin-left: 0;
}

#container .project-container img:not(.column){
	width: 100%;
	margin: 0 0 20px 0;
	display: block;
}

#container .project-container img.half{
	display: inline-block;
	margin: 0 0 10px 0;
	width: calc(50% - 5px);
}

#container .project-container img.left{
	float: left;
}

#container .project-container img.right{
	float: right;
}

#container .project-container ul{
	margin-top: -10px;
	margin-bottom: 20px;
	padding: 0;
}

#container .project-container ul li{
	display: inline-block;
}

/* Responsive video container:
https://jonsuh.com/blog/responsive-youtube-vimeo-embed-and-html5-video-with-css/ */
#container .project-container .js-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
 
#container .project-container .js-video.widescreen {
  padding-bottom: 56.34%;
}
 
#container .js-video.vimeo {
  padding-top: 0;
}

#container .project-container .js-video embed,
#container .project-container .js-video iframe,
#container .project-container .js-video object,
#container .project-container .js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

@media screen and (max-width: 1225px) {

	#sidebar{
		left: 0;
	}

	#container{	
		width: calc(100% - 175px);
		left: 175px;
	}

	footer{	
		width: calc(100% - 175px);
		margin-left: 175px;
	}	
}

/* For tablets or smaller, place the nav bar on the top */
@media screen and (max-width: 885px) {

	* {
	-webkit-overflow-scrolling: touch;
	    -moz-overflow-scrolling: touch;
	      -ms-overflow-scrolling: touch;
	         -o-overflow-scrolling: touch;
	               overflow-scrolling: touch;
	}

	#sidebar{
		width: 100%;
		height: auto;
		position: static;
		text-align: center;
	}

	#sidebar li{
		display: inline-block;
		margin: 5px 15px;
	}

	#container{
		position: static;		
		width: 100%;
		left: 0;
	}

	footer{
		position: static;		
		width: 100%;
		margin-left: 0;
	}

	footer aside{
		float: left;
	}

}

/* For mobile, change to a 2-column grid */
@media screen and (max-width: 750px) {

	#container .item {
		width: calc(50% - 10px);
		margin: 5px;
	}

/*	#container{
		padding: 10px;
	}

	#container .item {
		width: calc(100% - 20px);
		max-width: none;
		margin: 5px 0;
	}	

	#container .project-container{
		padding: 0;
	}		*/
}